:root {
  background: #131315;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}

.background-div {
  background: linear-gradient(90deg, #8F7CEC 50%, #242026 50%);
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 299;
}

.background-img {
  height: 700px;
  mix-blend-mode: color-burn;
  left: -2%;
  position: absolute;
  object-fit: contain
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #242026;
  box-shadow: 0 15px 25px rgba(143, 124, 236, 0.7);
  border-radius: 10px
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center
}

.login-box .user-box input {
  position: relative;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: relative;
  left: 0;
  top: -60px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
  top: -85px;
  left: 0;
  color: #8F7CEC;
  font-size: 12px
}

.button-form {
  display: flex;
  justify-content: space-around
}

.submit-tweet {
  padding: 10px 20px;
  color: #CBBDDB;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
  border: 1px solid, #8F7CEC;
  margin: auto;
}

.submit:hover {
  background: #8F7CEC;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #8F7CEC, 0 0 25px #8F7CEC, 0 0 50px #8F7CEC, 0 0 100px #8F7CEC
}

.signup,
.login {
  text-decoration: none;
  padding: 10px 20px;
  color: #CBBDDB;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
  border: 1px solid, #8F7CEC;
  margin: auto;
}

.title {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.landing-page-nav {
  background: #242026;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 65px;
  z-index: 3;
  box-shadow: 0 5px 15px rgba(143, 124, 236, 0.7);
}

.landing-div {
  display: inline-block;
  color: white;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 10%;

}

.vl {
  border-left: 1px solid #8F7CEC;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
  z-index: -2;
  box-shadow: 0 0 5px #8F7CEC, 0 0 25px #8F7CEC, 0 0 50px #8F7CEC, 0 0 100px #8F7CEC
}

.landing-button-div {
  display: inline-block;
  text-align: left;
  position: absolute;
  top: 61%;
  right: 10%;
}

.start {
  padding: 10px 20px;
  color: #CBBDDB;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
  border: 1px solid, #8F7CEC;
  margin: auto;
}

.start:hover {
  background: #8F7CEC;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #8F7CEC, 0 0 25px #8F7CEC, 0 0 50px #8F7CEC, 0 0 100px #8F7CEC
}

* {
  margin: 0;
  padding: 0;
}

.navbar {
  top: 0%;
  bottom: 0%;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 120px;
  display: flex;
  flex-direction: column;
  z-index: 100;
  text-align: center;
  align-items: left
}

.icons {
  height: 60px;
  width: 60px;
  color: white;
  margin-bottom: 80px;
  margin-left: 20px;
  align-items: left
}

.logout-nav {
  padding: 10px 10px;
  color: #CBBDDB;
  font-size: 9px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
  border: 1px solid, #8F7CEC;
  margin: auto;
}

.nav-text {
  text-align: center;
  align-items: center
}

.tweetcard {
  width: 799px;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 200px;
  /* border-bottom: solid #8F7CEC; */
  background-color: lightblue;
  font-size: 20px
}

.tweetContainer {
  margin-top: 250px;
  /* align-text: center; */
  text-align: center;
  margin-left: 200px;
  display: inline-block;
  border-color: #8F7CEC;
  border-style: solid;
  border-radius: -1px;
  height: 900px;
  width: 800px
}

.tweet-message {
  color: white;
  font-size: 20px;
  display: block;
  font-weight: bold;
}

h1 {
  color: #fff;
}